meta(charset="utf-8")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
link(rel="stylesheet", href="public/css/main.css")
<link rel="shortcut icon" href="public/css/favicon.ico" type="image/x-icon">
script(type="module", src="public/js/qr.js")
title Hello!