extends layout

block content
  .container
    .row.d-flex.justify-content-center.p-3
      .col-xs-4.text-center
        h1 Hello 
    .row.d-flex.justify-content-center.p-3
      .col-xs-4.text-center
        form(method="post" action="/register").m-5
          .form-group
            label(for="username") Username
            input(type="text" name="username" class="form-control" placeholder="Username")
            if(error)
              p Errrorrrr
          .form-group
            label(for="password") Password
            input(type="password" name="password" class="form-control" placeholder="Password")
          .form-group
            input(type="submit" class="btn btn-primary" value="Register")
          .form-group
            a(href="/auth/google" class="btn btn-danger") Google